.search {
  position: relative;
  height: 5rem;

  & .input {
    background-color: #fff;
    border: 0;
    font-size: 1.8rem;
    padding: 1.5rem;
    height: 5rem;
    width: 5rem;
    transition: width 0.3s ease;
  }

  .btn {
    background-color: #fff;
    border: 0;
    cursor: pointer;
    font-size: 2.4rem;
    position: absolute;
    top: 0;
    left: 0;
    height: 5rem;
    width: 5rem;
    transition: transform 0.3s ease;
  }

  .btn:focus,
  .input:focus {
    outline: none;
  }

  &.active .input {
    width: 20rem;
  }

  &.active .btn {
    transform: translateX(19.8rem);
  }
}
