* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Lato", sans-serif;
  color: #222;
  padding-bottom: 5rem;
}

.nav {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background-color: #222;
  transition: all 0.3s ease-in-out;
}

.nav .container {
  display: flex;
  width: 120rem;
  height: 8rem;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  transition: all 0.3s ease-in-out;
}

#nav-title {
  font-size: 2.5rem;
  transition: all 0.3s ease-in-out;
}

.nav ul {
  list-style: none;
  display: flex;
  transition: all 0.3s ease-in-out;
}

.nav a {
  text-decoration: none;
  color: #fff;
  margin-left: 4rem;
  font-size: 1.8rem;
  transition: all 0.3s ease-in-out;
}

.nav .list .current {
  color: red;
}

.nav.active {
  background-color: #fff;
  height: 5rem;
  transition: all 0.3s ease-in-out;
}

.nav.active .container {
  display: flex;
  align-items: center;
  height: 100%;
  transition: all 0.3s ease-in-out;
}

.nav.active #nav-title {
  color: #000;
  transition: all 0.3s ease-in-out;
}

.nav.active a {
  color: #222;
  transition: all 0.3s ease-in-out;
}

.hero {
  background-image: url("https://images.pexels.com/photos/450035/pexels-photo-450035.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: #fff;
  position: relative;
  z-index: -2;
}

.hero::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: -1;
}

.title {
  font-size: 4rem;
  margin-bottom: 2rem;
}

.paragraph {
  font-size: 2rem;
}

.content {
  padding: 2rem;
}

.content-title {
  margin-bottom: 2rem;
}

.content-text {
  font-size: 120%;
  line-height: 1.8;
  letter-spacing: 1px;
}
