* {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  background-color: rebeccapurple;
  font-family: "Lato", sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  overflow: hidden;
  margin: 0;
  position: relative;
}

#toasts {
  font-size: 2rem;
  position: absolute;
  bottom: 2%;
  right: 2%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.toast {
  background-color: #fff;
  margin-bottom: 1.5rem;
  padding: 1.2rem 1.6rem;
  font-size: 1.6rem;
  border-radius: 0.5rem;
  text-align: center;
  width: 100%;
}

.toast.info {
  color: rebeccapurple;
}

.toast.success {
  color: green;
}

.toast.error {
  color: red;
}

.btn {
  padding: 1.4rem;
  background-color: #fff;
  border: none;
  color: rebeccapurple;
  border-radius: 0.5rem;
  font-weight: bold;
  font-family: inherit;
  cursor: pointer;
}
