* {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Lato", sans-serif;
  overflow: hidden;
  margin: 0;
  text-align: center;
}

h3 {
  font-size: 3rem;
}

.fa-heart {
  color: red;
}

small {
  font-size: 1.5rem;
}

#times {
  color: aqua;
}

.loveMe {
  position: relative;
  width: 36rem;
  height: 55rem;
  background-image: url("https://images.unsplash.com/photo-1504215680853-026ed2a45def?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=334&q=80");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  margin: auto;
  margin-top: 2rem;
  border-radius: 1rem;
  box-shadow: 0 1.4rem 2.8rem rgba(0, 0, 0, 0.3);
}

.loveMe .fas.fa-heart {
  color: red;
  position: absolute;
  transform: translate(-50%, -50%) scale(0);
  animation: grow 0.3s linear;
}

@keyframes grow {
  to {
    transform: translate(-50%, -50%) scale(10);
  }
}
